<footer id="contato">
  <div class="cont-wrap">
    <div class="contato">
      <a class="ct-link" id="email" href="malito:contato@mainquest.com.br">
        <div class="footer-icon">{% include icons/icon-email.html %}</div>
        <p>contato@mainquest.com.br</p>
      </a>
      <a class="ct-link" href="tel:5131261337">
        <div class="footer-icon">{% include icons/icon-tel.html %}</div>
        <p>(51) 3126.1337</p>
      </a>
    </div>
    <div class="social">
      <a class="ct-link" href="https://www.facebook.com/mainquest.solucoes.audiovisuais" target="_blank">
        <div class="footer-icon">{% include icons/icon-face.html %}</div>
      </a>
      <a class="ct-link" href="http://vimeo.com/mainquest" target="_blank">
        <div class="footer-icon">{% include icons/icon-vimeo.html %}</div>
      </a>
    </div>
  </div>
</footer>
