<section class='sect-alt sect-sobre' >
  <div class="sobre-wrap">
    <div class='sobre-container'>
      <h3 id="sobre">Sobre</h3>
      <p>Olá! Aceitam um cafezinho? Água? Chá?</p>
      <p>Se perguntando quem oferece isso em um site?</p>
      <br>
      <p>Pois estávamos ansiosamente esperando sua visita.</p>
      <p>Sejam bem vindos, damas e cavalheiros, sejam muito bem vindos ao site da <strong id="mq">MainQuest</strong>!</p>
      <p>Podemos dizer que, basicamente, somos uma empresa que trabalha com <strong>soluções audiovisuais</strong> diversificadas. Mas vamos desenvolver um pouco mais:</p>
      <span class="lermais">ler mais</span>
      <div class="sobre-hidden">
        <div class="sobre-text">
          <p>Nossa  equipe  é  formada  por  profissionais  do  design,  publicidade  e  propaganda, computação gráfica e produção audiovisual. E usando isso ao nosso (e seu) favor, somos aptos a desenvolver projetos distintos, podendo também mesclar todas essas áreas.</p>
          <p>Trabalhos com arte estão ligados à diferentes sentimentos e sensações, por isso não podemos  nos  enquadrar  em  algum  padrão  exato  e  fechado.  Da  mesma  forma,  a criatividade sempre exige uma cabeça aberta, livre para aceitar quaisquer pensamentos e ideias que possam surgir, para depois serem trabalhadas.</p>
          <p>E é justamente por isso, meus caros, que afirmamos trabalhar com <strong>soluções audiovisuais</strong>.   Animações,   filmes,   documentários,   clipes,   stopmotions,   vídeos institucionais,... A <strong id="mq">MainQuest</strong> existe desde 2014 e sempre esteve aberta para novas (ou tradicionais) possibilidades dentro do audiovisual. Tem uma ideia ou precisa de alguma?</p>
          <a href="#contato" id="bold">Vamos conversar!</a>
          <span class="lermenos">ler menos</span>
        </div>
      </div>
    </div>
  </div>
</section>
